 <template name="graph">
 	<div id= "areagrafo" class="col-xs-9 col-sm-8 col-sm-offset-1 main tree-main-container"  style="display:block; height:100vh" ng-model="value">


    </div>

 <div class="col-xs-4 col-xs-offset-8 col-sm-3 col-sm-offset-9 sidebar-style">
  <div class="panel panel-info">
						<div class="panel-heading information" style="text-align: left">{{ lang "panel-info"}}</div>
						<div class="panel-body tree-node-info">

                  <div class="entityInfo " style="text-align: left">
                  <h4> ... </h4>
        	<!-- <span style="font-weigth:bold">Title: </span> -->
        		   <div id="title" style="font-size:50pt"></div>
        	       <a href="" target="_blank"></a>
    	           </div>
                 </div>
                 </div>

 </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content ">
        <div class="modal-header modal-show">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{lang "warning"}}</h4>
        </div>
        <div class="modal-body">
          <p>{{ lang "warning-data"}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="Despl-todos" >{{lang "afirmative"}} ({{Numresultgraph}})</button>
          <button type="button" class="btn btn-default" id="Despl-Muestra" data-dismiss="modal">{{lang "sample"}} (10)</button>
          <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>-->
        </div>
      </div>
    </div>
  </div>


     <div class="footer">
        <div class="row">
          <!--
          <div class="col-xs-2">
          </div> -->
          <div class="col-xs-12">
            <div style="position:absolute; right:0; padding: 0 35px;">
              <small class="footer-legend"><strong>Developed by:</strong></small>
              <img src="/images/ucuenca-logo.png" alt="ucuenca" style="height:40px" draggable="false">
              <small class="footer-legend"><strong>Powered by:</strong></small>
              <!-- <img src="images/cepra-logo.png" alt="ucuenca" style="height:30px" draggable="false"> -->
              <img src="/images/gtr-logo.png" alt="ucuenca" style="height:30px" draggable="false">
              <small class="footer-legend">GT-Repositorios</small>
            </div>
          </div>
        </div>
      </div>
  <div class='notifications top-right' style="width: 250px;"></div>
 </template>
