<template name="helpag">
	<div class="container-fluid pag_help " >
     <div  class="generatedquery">
	<div class="HelpTitle">  <h3> DOCUMENTACIÓN </h3></div> <br>
    Para obtener información relacionada con la aplicación puede  <br> consultar el manual de usuario, en el siguiente enlace: <br><br>
	<a href="https://goo.gl/ANAWS3"  target="_blank" draggable="false">Ver Manual</a> 
	<div class="HelpTitle2">  <h3> INFORMACIÓN DE CONTACTO </h3></div> <br>
    Calle La Condamine 12-109 "Casa Rivera" <br>
    Telf: (+593) 7 4051000 Ext. 4220, 106   <br>
Web: www.cedia.org.ec <br>
E-mail: gt_repositorios@cedia.org.ec, <br>
josselin.siguencia@cedia.org.ec <br>
Cuenca-Ecuador. <br> <br>
 <a href="http://gtrepositorios.cedia.org.ec/es" target="_blank" class="logo">
 <img src="images/logoCedia.png" alt="cedia" width="150px"> </a>
     </div>

	</div>
</template>
