
			<template name="search">

		<div class="search-section container-fluid" style="overflow: scroll"> 
	    <div class="first-search"> 
	    <div class="firstsection">
		<div class="title-seach text-center">
		<p class="recurso"> {{lang "resources-search"}} </p>
	    </div>
		<div class="search-area text-center">
	    <div class="row">
		<div class="col-md-10">
		<div class="Search-bar input-group"> 
		  <input type="text" value="" name="terms" onkeyup="Session.set('auxAct',Session.get('auxAct')+1); if(event.keyCode == 13){$('.runSearch').click();}" class="required form-control textToSearch" id="mce-text" placeholder={{lang "placeholder-search"}} required>
                          <span class="input-group-btn">
                            <input type="button" value={{lang "search"}} name="subscribe" id="mc-embedded-subscribe" class="btn btn-default runSearch" >                   
						 </span>
		</div>
		</div>
		<form class="result-options">
		   <div class=col-md-2> 
			  <div class="cc-selector"> 
			  <input id="documentos2" type="radio" name="opciones" value="documentos" />
			  <label class="opciones-cc documentos" for="documentos2" data-toggle="tooltip" title={{lang "tip-document"}}></label>
              <input id="autores2" type="radio" name="opciones" value="autores" />
			  <label class="opciones-cc autores" for="autores2" data-toggle="tooltip" title={{lang "tip-author"}}></label>

			  <input id="colecciones2" type="radio" name="opciones" value="colecciones" />
			  <label class="opciones-cc colecciones" for="colecciones2" data-toggle="tooltip" title={{lang "tip-collection"}}></label>
		      </div>
			  </div>
			</form >
		</div>
		</div>
		
		<div class="title-seach row">
		<div class="col-md-6">
		<a href="#" class="avanzado" onclick="hide (event);"> {{lang "advance-search"}} </a>
		</div>
		<div class="col-md-6" style="align: right">
		<p> {{NresultFullQuery}}</p>
		</div>
        </div>
     
		<div class="oculto" > 
		 <div class="input-group">
<div style="float: left;"><input type="checkbox" class="optional" name="repositoriesListAll"   onclick="  if (document.getElementsByName('repositoriesListAll')[0].checked) {var inputs = document.getElementsByName('repositoriesList'); for (var i = 0; i < inputs.length; i++){inputs[i].checked=true; inputs[i].disabled=true;} } else {var inputs = document.getElementsByName('repositoriesList'); for (var i = 0; i < inputs.length; i++){inputs[i].disabled=false;} }" ><i>All</i>&nbsp;&nbsp;</div>
									{{#each endpointsAvailable}}
									
									<div style="float: left;"><input type="checkbox" data-base="{{base}}" checked="{{base}}"  class="optional" data-endpoint="{{endpoint}}" data-graphuri="{{graphURI}}" data-name="{{name}}"  name="repositoriesList" >{{name}}&nbsp;&nbsp;</div>

									{{/each}}

								</div>
		</div> 
	  
		</div>
		</div>

		<div class="second-area">
	    <div class="row">
			<div class="sugestion-area col-md-3"> 
				<div class="sugestion-panel">
					<span id="Title-suggestion" > <b>{{lang "sug"}} </b>  </span>
					<div class="result-suggestion">
					<UL type = "disk" id="Sugerencias">
        			<!--<li> Buscar por autores con nombre "DIEGO" </li>
        			<li> Buscar colecciones que contenga obras cuyo autor se llame "Diego" </li>
        			<li> Buscar obras cuyo autor se llame "DIEGO" </li>
        			<li>Perú </li> -->
        			{{#each suggestedQueries}}
        			  	<li class="suggestion-group"><a data-title ="{{title}}" href='#' onclick="actAHyper(event);" >{{description}}</a></li>
					{{/each}}
        			</UL>
					</div>
				</div>
			</div>
			<div class="result-area col-md-9 ">
	    	<div class="result-group">
	    	 <!-- 	<div class="text-center  nresult col-md-9">
						<p>{{NresultFullQuery}}</p>
					</div>
                	   
             
			<div class="result col-md-9">
			<div class="fuente-area col-md-14 text-center"> 
			<span class="glyphicon glyphicon-file"></span>
			UCUENCA
			</div>
		<div class="result-text col-md-14">	
		<span class="Title-result"> <u> Framework para soportar la Metodologia de Linked Open Data   </u> </span>
		<p > <b> Abstract : </b> La generación de datos enlazados (LOD) actualmente se ha vuelto una actividad cada vez más común. Sin
embargo, al tratarse de una tendencia relativamente nueva, el desarrollo de herramientas tanto teóricas,
metodológicas como tecnológicas ha sido reducido. La mayoría de soluciones que busca brindar soporte para
el proceso en la publicación de LOD. </p>
		
		<div class="opciones-area opt-result">
		<div class="opt-fuente  col-md-4">
		Ver Fuente
		</div>
		<div class="opt-elda col-md-4">
		Ver RDF
		</div>
		<div class="opt-grafo col-md-4">
		Ver Grafo
	
		</div>
		</div>
		</div>
		</div>
		 		   -->


		 		{{#each resultFullQuery}}


		<div class="result col-md-9">
			<div class="fuente-area col-md-14 text-center"> 
			<span class="{{Icon}}"></span>
			{{Origin}}
			</div>
		
		<div class="result-text col-md-14">	
		<span class="Title-result"> <u> {{Label}}   </u> </span>
		<br/>
		{{#each MatchsProperty}}
												<b> {{ lang p }}</b> : 
												<div class ="contvarpro" >
													{{#if l}}
													<span class= 'hglttxt'>{{{s}}}</span><a href='#' class='view_more_button' onclick="$(this).hide();$(this).parent().find('.rest_of_text').show();$(this).parent().find('.view_less_button').show();  ">...{{lang "text-more"}}</a><span class='rest_of_text hglttxt' style='display: none;'>{{{c}}}</span>
													<a href='#' class='view_less_button' onclick="$(this).hide();$(this).parent().find('.rest_of_text').hide();$(this).parent().find('.view_more_button').show();" style='display: none;' >...{{lang "text-less"}}</a>
													{{else}}
													{{{v}}}
													{{/if}}

												</div>
												{{/each}}
		
		<div class="opciones-area opt-result">
		<div class="col-md-4">
		<a   class="opt-fuente" href="#"  data-uri="{{URI}}" data-endpoint="{{Origin}}" onclick="linkg2(event);" >{{ lang "view-source"}}</a>
		</div>
		<div class="col-md-4 opt-eldadiv">
		<a  class="opt-elda" href="{{URI}}" target="_blank" >{{ lang "view-rdf"}}</a>
		</div>
		<div class="col-md-4"  >
		<a  class="opt-grafo"  href="#"  data-uri="{{URI}}" data-endpoint="{{Origin}}" onclick="linkg(event);" >{{ lang "view-graph"}}</a>
		</div>
		</div>
		</div>
		</div>

         	    {{/each}}
		</div>
		 <div >
				<div class="row">
					<div class="col-md-9 text-center pagination">
					
					{{#with paginationSettings}}
					<div id="page-selection" ></div>
					{{/with}}
			</div>
		</div>
	</div>
		</div>
	    </div>

	   

	   </div>
	   
 </div> 

 <!--	<div class="footer" >
				<div class="row">
					<div class="col-xs-12">
					
					{{#with paginationSettings}}
					<div id="page-selection" ></div>
					{{/with}}
			</div>
		</div>
	</div>  -->
 	 
</template>
