<template name='welcomePage'>
  <!-- <div class="wrapper">
	  <div class="main"> -->
	    
     <section class="lavel-up-header lavel-up-header-bg-img" data-stellar-background-ratio="0.5">
        <div class="lavel-up-color-overlay">
        <div class="container text-center">



          <!-- Main Title start -->
          <h1 class="lu-title">{{lang "welcome-title"}}</h1>
          <!-- Main title end -->
         <!-- Newsletter signup start -->
          <div class="lu-newletter">
           <!--  <h2>Subscribe our newsletter and get update when we back.</h2> -->
         <div class="col-md-7 col-md-offset-2 ">
        <p class="recurso"> {{lang "resources-search"}} </p>
         </div>
        <div class="row">
                <div class="col-md-7 col-md-offset-2">
                  <div id="mc_embed_signup" class="lu_singup_form">
                   <!-- <form  id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" >-->
                      <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group input-group input-group-lg">
              <input type="text" value="" name="terms" class="required form-control" id="mce-text" placeholder={{lang "placeholder-search"}} required
              onkeyup="if(event.keyCode == 13){$('#mc-embedded-subscribe').click();}" >
                          <span class="input-group-btn">
                            <input type="button" value={{lang "search"}} name="subscribe" id="mc-embedded-subscribe" class="btn btn-default" onclick="search_query(event)">                   
             </span>
              
                        </div>
                      </div>
                   <!-- </form> -->
                  </div>
                 
              </div>
        
           
          
      </div><!--.row onclick="updatebuttons('{{Name}}')"  -->
          </div>

        <form>
        <div class=col-md-12 col-md-offset-4> 
        <div class="cc-selector"> 
        {{#each resourcesavailable}}
        <input id="{{Description}}" class="mainselecttype" type="radio" name="opciones" value="{{Name}}"  />
        <label style="background-image:url('{{Imagen}}');" tipo= "{{Name}}" class="opciones-cc {{Description}}" select="0" for="{{Imagen}}" data-toggle="tooltip" title="{{Description}}"></label>
        {{/each}}
            </div> 
         </div>
         </form>
    
       <!-- <form>
       <div class=col-md-6 col-md-offset-2> 
        <div class="cc-selector"> 
        <input id="documentos" type="radio" name="opciones" value="documentos" />
        <label class="opciones-cc documentos" for="documentos" data-toggle="tooltip" title={{lang "tip-document"}}></label>
              <input id="autores" type="radio" name="opciones" value="autores" />
        <label class="opciones-cc autores" for="autores" data-toggle="tooltip" title={{lang "tip-author"}}></label>

        <input id="colecciones" type="radio" name="opciones" value="colecciones" />
        <label class="opciones-cc colecciones" for="colecciones" data-toggle="tooltip" title={{lang "tip-collection"}}></label>
          </div>
        
        </div>
              </form> -->
        </div>
        {{#if user_access }} 
          <div class="mostrar_reco" display = "none" > 
     
        {{#each recoavailable}}
        <p>Recomendación: <img src={{icon}} width = {{sizeicon}} class="docrecomend" style="margin-top: -2px"> <a href={{uri}} target="_blank">{{title}}</a></p>       
        {{/each}}
         

        </div> 
        {{/if}}

         </div>
      
   

    </section>
	    
	     <section class="page3">
        <div class="tech">
          <img src="images/tech-cloud.png" alt="joint" class="tech-logo">
        
          <img src="images/joint-logo.png" alt="joint" class="tech-logo">
          <img src="images/meteor-logo.png" alt="joint" class="tech-logo" style="top:0px; right:0px">
        
        </div>
	      <div class="page_container">
          <h1>Making the Semantic Web more {{lang "bonjour"}}</h1>
          <h2><em>"Our idea there is to make the Semantic Web scale by relying on more simple servers, and more complex and intelligent clients."</em> - Ruben Verborgh</h2>
          
         
          <div class="btns">
  	        <a class="reload btn" href="https://github.com/peachananr/onepage-scroll">Download on Github</a>
  	      </div>
    
  	    </div>
        
      </section>
      <section class="page4">
        <div class="page_container">
            <h1>We are Involved</h1>
          <div class="partner-logos">
              <a href="https://www.facebook.com/GTR.CEDIA?fref=ts" target="_blank" class="logo">
                <img src="images/gtr-logo.png" alt="GTR">
                <span class="text-content" style="width:94px; height:93px; border-radius:15px"><span><strong>GT Repositorios</strong></span></span>
              </a>
              <a href="http://http://ucuenca.edu.ec/" target="_blank" class="logo">
                <img src="images/ucuenca-logo.png" alt="ucuenca">
                <span class="text-content" style="width:348px; height:138px; border-radius:15px"><span><strong>Universidad de Cuenca - Facultad de Ingeniería</strong></span></span>
              </a>
              <!--
              <a href="http://190.15.141.102/mediawiki-1.22.3/index.php/Página_principal" target="_blank" class="logo">
                <img src="images/cepra-logo.png" alt="cepra">
                <span class="text-content" style="width:275px; height:60px; border-radius:15px"><span><strong>Proyecto CEPRA</strong></span></span>
              </a>
              -->
              <a href="https://www.cedia.org.ec/" target="_blank" class="logo">
                <img src="images/cedia-logo.png" alt="cedia">
                <span class="text-content" style="width:184px; height:54px; border-radius:15px"><span><strong>CEDIA</strong></span></span>
              </a>
          </div>
          <!--
          <h2><em>"Our idea there is to make the Semantic Web scale by relying on more simple servers, and more complex and intelligent clients."</em> - Ruben Verborgh</h2> -->
          <!--
          <div class="btns">
            <a class="reload btn" href="https://github.com/peachananr/onepage-scroll">Download on Github</a>
          </div>
          -->
        </div>

      </section>
    <!-- </div> -->
  <!-- </div> -->
</template>