<template name='welcomePage'>
  <!-- <div class="wrapper">
	  <div class="main"> -->
	    
      <section class="page1">
        <div class="page_container">
          <h1>SPARQL FEDQuery</h1>
          <h2>Graph-based user interface for building Federated SPARQL queries</h2>
          <p class="credit">Developed by <a href="#" target="_blank"><em>Departamento de Ciencias de la Computación</em></a> at <a href="http://www.ucuenca.edu.ec"><em>Universidad de Cuenca</em></a> and <a href="#" target="_blank"><em>Grupo Trabajo Repositorios CEDIA</em></a></p>
          <div class="btns">
            <a class="reload btn-ops" href="https://bitbucket.org/santteegt/sparqlfedquery-back" target="_blank">See project on Bitbucket</a>
          </div>
  	    </div>
  	    <img src="images/rdf-logo.png" alt="rdf">
      </section>
	    
	    <section class="page2">
        <div class="wmuSlider slider">
          <div class="wmuSliderWrapper">
            <article>
              <img src="images/tech-cloud.png" alt="joint">
            </article>
            <article>
              <img src="images/rdf-logo.png" alt="rdf">
            </article>
          </div>
        </div>
	      <div class="page_container">
          <h1>User Friendly</h1>
          <h3>Register your Endpoints. Drag n' drop the entities/properties you need</h3>
          <h2><strong>Get Results!</strong></h2>
          <div class="btns">
            <a class="reload btn-ops" href="/samples">Look Our Sample Queries</a>
          </div>
          <!--
          <code class="html">
  	        &lt;div class="main"&gt;<br>
  	          &lt;section&gt;...&lt;/section&gt;<br>
  	          &lt;section&gt;...&lt;/section&gt;<br>
  	          ...<br>
  	        &lt;/div&gt;
  	      </code>
  	      
  	      <code class="js">
	          $(".main").onepage_scroll();
	        </code> -->

	      </div>
        <img src="images/rdf-logo.png" alt="rdf" style="margin-left:-0.3px">
      </section>
	    
	    <section class="page3">
        <div class="tech">
          <img src="images/tech-cloud.png" alt="joint" class="tech-logo">
          <!--
          <img src="images/joint-logo.png" alt="joint" class="tech-logo">
          <img src="images/meteor-logo.png" alt="joint" class="tech-logo" style="top:0px; right:0px">
        -->
        </div>
	      <div class="page_container">
          <h1>Making the Semantic Web more Webby</h1>
          <h2><em>"Our idea there is to make the Semantic Web scale by relying on more simple servers, and more complex and intelligent clients."</em> - Ruben Verborgh</h2>
          
          <!--
          <div class="btns">
  	        <a class="reload btn" href="https://github.com/peachananr/onepage-scroll">Download on Github</a>
  	      </div>
          -->
  	    </div>
        
      </section>
      <section class="page4">
        <div class="page_container">
          <h1>We are Involved</h1>
          <div class="partner-logos">
              <a href="https://www.facebook.com/GTR.CEDIA?fref=ts" target="_blank" class="logo">
                <img src="images/gtr-logo.png" alt="GTR">
                <span class="text-content" style="width:94px; height:93px; border-radius:15px"><span><strong>GT Repositorios</strong></span></span>
              </a>
              <a href="http://http://ucuenca.edu.ec/" target="_blank" class="logo">
                <img src="images/ucuenca-logo.png" alt="ucuenca">
                <span class="text-content" style="width:348px; height:138px; border-radius:15px"><span><strong>Universidad de Cuenca - Facultad de Ingeniería</strong></span></span>
              </a>
              <!--
              <a href="http://190.15.141.102/mediawiki-1.22.3/index.php/Página_principal" target="_blank" class="logo">
                <img src="images/cepra-logo.png" alt="cepra">
                <span class="text-content" style="width:275px; height:60px; border-radius:15px"><span><strong>Proyecto CEPRA</strong></span></span>
              </a>
              -->
              <a href="https://www.cedia.org.ec/" target="_blank" class="logo">
                <img src="images/cedia-logo.png" alt="cedia">
                <span class="text-content" style="width:184px; height:54px; border-radius:15px"><span><strong>CEDIA</strong></span></span>
              </a>
          </div>
          <h2><em>"Our idea there is to make the Semantic Web scale by relying on more simple servers, and more complex and intelligent clients."</em> - Ruben Verborgh</h2>
          <!--
          <div class="btns">
            <a class="reload btn" href="https://github.com/peachananr/onepage-scroll">Download on Github</a>
          </div>
          -->
        </div>

      </section>
    <!-- </div> -->
  <!-- </div> -->
</template>