<template name='welcomePage'>
  <!-- <div class="wrapper">
	  <div class="main"> -->
	    
      <section class="page1">
        <div class="page_container">
          <h1>SPARQL FEDQuery</h1>
          <h2>Interfaz gráfica para realizar consultas SPARQL Federadas entre distintos Endpoints</h2>
          <p class="credit">Desarrollado por <a href="#">Autores</a>, Investigadores en: <a href="#" target="_blank">Departamento de Ciencias de la Computación de la Facultad de Ingeniería</a></p>
          <div class="btns">
  	        <a class="reload btnw" href="/dashboard">Ingresar</a>
  	      </div>
  	    </div>
  	    <img src="images/rdf-logo.png" alt="phones">
      </section>
	    
	    <section class="page2">
	      <div class="page_container">
          <h1>Amigable al Usuario</h1>
          <h2>Registra tus SPARQL endpoint, arrastra las entidades y objetos de tu consulta y ejecútalo!</h2>
          <!--
          <code class="html">
  	        &lt;div class="main"&gt;<br>
  	          &lt;section&gt;...&lt;/section&gt;<br>
  	          &lt;section&gt;...&lt;/section&gt;<br>
  	          ...<br>
  	        &lt;/div&gt;
  	      </code>
  	      
  	      <code class="js">
	          $(".main").onepage_scroll();
	        </code> -->
	      </div>
      </section>
	    
	    <section class="page3">
	      <div class="page_container">
          <h1>Fomentamos el uso de Linked Open Data sobre la Web</h1>
          <h2>Este proyecto forma parte del proyecto de Investigación CEPRA: Plataforma de integración, publicación y consulta integrada de Recursos Bibliográficos en la Web semántica, gracias a CEDIA y el Departamento de Ciencias de la Computación de la Facultad de Ingeniería de la Universidad de Cuenca</h2>
          <!--
          <div class="btns">
  	        <a class="reload btn" href="https://github.com/peachananr/onepage-scroll">Download on Github</a>
  	      </div>
          -->
  	    </div>
      </section>
    <!-- </div> -->
  <!-- </div> -->
</template>