html {
      height: 100%;
    }
    body {
      background: #E2E4E7;
      padding: 0;
      text-align: center;
      font-family: 'open sans';
      position: relative;
      margin: 0;
      height: 100%;
      -webkit-font-smoothing: antialiased;
    }
    
    .wrapper {
    	height: 100% !important;
    	height: 100%;
    	margin: 0 auto; 
    	overflow: hidden;
    }
    
    a {
      text-decoration: none;
    }
    
    /*
    h1, h2 {
      width: 100%;
      float: left;
    }*/

    .listquerys  {
      margin-top: 50px;
      color: #000;
      margin-bottom: 5px;
      font-size: 70px;
      letter-spacing: -4px;
      font-weight: 100;
    }

    h1 span {
      font-size: 26px;
      margin: 0 5px;
      text-transform: capitalize;
      background: rgba(0,0,0,0.85);
      display: inline-block;
      color: #6D461D;
      border-radius: 5px 5px;
      -webkit-border-radius: 5px 5px;
      -moz-border-radius: 5px 5px;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
      padding: 3px 10px;
    }
    h2 {
      color: #6D461D;
      font-weight: 100;
      margin-top: 0;
      margin-bottom: 10px;
    }
    
    .pointer {
      color: #9b59b6;
      font-family: 'Pacifico', cursive;
      font-size: 30px;
      margin-top: 15px;
    }
    code {
      margin: 20px 1%;
      float: left;
      width: 48%;
      height: 105px;
      background: rgba(0,0,0,0.1);
      border: rgba(0,0,0,0.05) 5px solid;
      border-radius: 5px;
      padding:5px;
      color: white;
      text-align: center;
      font-size: 15px;
      margin-top: 25px;
      display: block;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    code.html {
      color: #7EC9E6;
    }
    code.js {
      color: #FFAD00;
    }

    .main-ops {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
    /*
    .main-ops h1 {
      padding:150px 50px;
      float: left;
      width: 100%;
      font-size: 45px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      font-weight: 100;
      color: white;
      margin: 0;
    }
   */
    .main-ops h1.demo1 {
      background: #1ABC9C;
    }
    
    .reload.bell {
      font-size: 12px;
      padding: 20px;
      width: 45px;
      text-align: center;
      height: 47px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
    }
    
    .reload.bell #notification {
      font-size: 25px;
      line-height: 140%;
    }
    
    .reload, .btn-ops{
      display: inline-block;
      border: 4px solid #428bca;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background: #428bca;
      display: inline-block;
      line-height: 100%;
      padding: 0.7em;
      text-decoration: none;
      color: #fff;
      width: 150px;
      line-height: 140%;
      font-size: 17px;
      font-family: open sans;
      font-weight: bold;
    }
    .reload:hover{
      color: #FFFFFF;
      background: #444;
    }
    .btn-ops {
      width: 200px;
      color: rgb(255, 255, 255);
      border: 4px solid rgb(0, 0, 0);
      background: rgba(3, 3, 3, 0.75);
    }
    .clear {
      width: auto;
    }
    .btn-ops:hover{
      color: #FFFFFF;
      text-decoration: none;
      background: #444;
    }
    .btns {
      width: 410px;
      margin: 5px auto;
    }
    .credit {
      text-align: center;
      color: rgba(0,0,0,0.5);
      padding: 10px;
      width: 410px;
      clear: both;
    }
    .credit a {
      color: rgba(0,0,0,0.85);
      text-decoration: none;
      font-weight: bold;
      text-align: center;
    }
    
    .back {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      display: block;
      padding: 7px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background: rgba(255, 255, 255, 0.25);
      font-weight: bold;
      font-size: 13px;
      color: #000;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
    }
    .back:hover {
      color: black;
      background: rgba(255, 255, 255, 0.5);
    }
    
    header {
      position: relative;
      z-index: 10;
    }
    .main-ops section .page_container {
      position: relative;
      top: 25%;
      margin: 0 auto 0;
      max-width: 950px;
      z-index: 3;
    }
    .main-ops section  {
      overflow: hidden;
    }
    
    .main-ops section > img {
      position: absolute;
      max-width: 100%;
      z-index: 1;
    }
    
    .main-ops section.page1 {
      /* background:rgb(230, 217, 200); */
      background: #CEDFFC;
    }
  /*  .main-ops section.page1 h1 {
      text-align: left;
      padding: 0;
      margin-bottom: 15px;
      font-size: 70px;
      color: black;
    }*/

    .main-ops section.page1 h2 {
      color: rgba(0,0,0,0.85);
      text-align: center;
      width: 435px;
      line-height: 160%;
    }
    .main-ops section .page_container .btns {
      clear: both;
      float: left;
      text-align: center;
      width: 435px;
    }
    .main-ops section .page_container .btns a{
      text-align: center;
    }
    .main-ops section.page2 {
      /*background: #8BD4D4 url(back-phone.png) no-repeat center -150px ;*/
      background: #8BD4D4;
    }
    .main-ops section.page2 > img {
      position: absolute;
      top: -300px;
      left: 50%;
      margin-left: -1095px;
    }
    .main-ops section.page2 .page_container {
      margin-top: 200px;
      overflow: hidden;
    }
    .main-ops section.page2 h1 {
      text-align: center;
      padding: 0;
      padding-top: 25px;
      margin-bottom: 15px;
      font-size: 50px;
      letter-spacing: -1px;
      color: white;
    }
    .main-ops section.page2 h2 {
      color: rgba(255,255,255,0.85);
      margin-bottom: 10px;
      text-align: center;
      line-height: 100%;
      font-weight: 100;
    }

    .main-ops section.page2 h3 {
      color: rgba(255,255,255,0.85);
      margin-bottom: 10px;
      text-align: center;
    }

    .main-ops section.page2 div.btns {
      float: none;
    }

    .viewing-page-2 .back{
      background: rgba(0, 0, 0, 0.25);
      color: #FFF;
      }

    div.slider {
      position: absolute;
      top: 15%;
      width: 500px;
      height: 290px;
      z-index: 3;
      margin-left: 100px;
    }

    .main-ops section.page3 {
      /*background: #A6ED9B url(tilted-phone.png) no-repeat 156px -150px ;*/
      background: #A6ED9B;
    }
    .main-ops section.page3 .page_container {
      overflow: hidden;
      width: 500px;
      right: -285px;
    }
    .main-ops section.page3 h1 {
      text-align: left;
      padding: 0;
      margin-bottom: 0;
      font-size: 70px;
      letter-spacing: -1px;
      color: black;
    }
    .main-ops section.page3 h2 {
      color: rgba(0,0,0,0.85);
      text-align: left;
      line-height: 160%;
      font-weight: 100;
      font-size: 21px;
    }

    div.tech {
      position: absolute;
      top: 15%;
      width: 500px;
      height: 450px;
      z-index: 3;
      margin-left: 100px;
      background: #A6ED9B;
    }

    div.tech img.tech-logo {
      /*width: 70px;
      display: block;
      position: absolute;*/
      /*
      -webkit-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
      -moz-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
      -o-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
      animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
      */
    }

    section.page3.active img.tech-logo {
      /*
      -webkit-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
      -moz-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
      -o-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
      animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
      */
    }



    @-webkit-keyframes moveX {
  from { left: 0; } to { left: 430px; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 430px; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 430px; }
}
@keyframes moveX {
  from { left: 0; } to { left: 430px; }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 380px; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 380px; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 380px; }
}
@keyframes moveY {
  from { top: 0; } to { top: 380px; }
}

    .main-ops section.page4 {
      background: #FFE4D0;
    }

    .main-ops section.page4 .page_container {
      overflow: hidden;

    }

    .main-ops section.page4 h1 {
      padding: 0;
      margin-bottom: 5px;
      font-size: 70px;
      letter-spacing: -1px;
      color: black;
    }

    .main-ops section.page4 div.partner-logos {
      text-align: center;
    }

    .main-ops section.page4 a.logo {
      display: inline-block;
      margin: 20px;
      position: relative;
    }
    
    body.disabled-onepage-scroll .onepage-wrapper  section {
      min-height: 100%;
      height: auto;
    }
    
    body.disabled-onepage-scroll .main-ops section .page_container, body.disabled-onepage-scroll .main-ops section.page3 .page_container  {
      padding: 20px;
      margin-top: 150px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    body.disabled-onepage-scroll  section .page_container h1{
      text-align: center;
      font-size: 50px;
    }
    body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
      text-align: center;
      width: 100%;
    }
    
   /* body.disabled-onepage-scroll .main-ops section.page1 > img {
      position: absolute;
      width: 80%;
      left: 10%;
    }*/
    
    body.disabled-onepage-scroll .main-ops section > img {
      position: relative;
      max-width: 80%;
      bottom: 0;
    }
    body.disabled-onepage-scroll code {
      width: 95%;
      margin: 0 auto 25px;
      float: none;
      overflow: hidden;
    }
    
    body.disabled-onepage-scroll .main-ops section.page3 .page_container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      right: 0;
    }

    /*style for image text background on hover */
    span.text-content {
      background: rgba(0,0,0,0.2);
      background: rgba(255,255,255,0.2);
      color: black;
      cursor: pointer;
      display: table;
      height: 150px;
      left: 0;
      position: absolute;
      top: 0;
      width: 150px;
      opacity: 0;
      -webkit-transition: opacity 500ms;
      -moz-transition: opacity 500ms;
      -o-transition: opacity 500ms;
      transition: opacity 500ms;
    }
 
    span.text-content span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
 
    div.partner-logos a:hover span.text-content {
      opacity: 1;
    }

    div.partner-logos a:hover img {
      /*transform: translate3d(0px,-200px,0px); */
      opacity: 0.5;
      /*
      -webkit-transition: transform 2600ms ease-out;
      -moz-transition: transform 2600ms ease-out;
      -o-transition: transform 2600ms ease-out;
      transition: transform 2600ms ease-out;*/
      -webkit-transition: opacity 2600ms ease-out;
      -moz-transition: opacity 2600ms ease-out;
      -o-transition: opacity 2600ms ease-out;
      transition: opacity 2600ms ease-out;
    }


/* Slider */
    /* Demo */
.wmuSlider {
    margin-bottom: 20px;
}

/* mwuSlider */
.wmuSlider {
    position: relative;
    overflow: hidden;
}
.wmuSlider .wmuSliderWrapper {
    display: none;
}
.wmuSlider .wmuSliderWrapper article {
    position: relative;
    text-align: center;
}
.wmuSlider .wmuSliderWrapper article img {
    /*max-width: 50%;*/
    width: auto;
    height: 290px;
}

.wmuSliderPrev, .wmuSliderNext {
    position: absolute;
    width: 40px;
    height: 80px;
    text-indent: -9999px;
    background: url(/images/sprites.png) no-repeat 0 0;
    top: 50%;
    margin-top: -40px;
    z-index: 2;
}
.wmuSliderPrev {
    background-position: 100% 0;
    left: 20px;
}
.wmuSliderNext {
    right: 20px;
}
.wmuSliderPagination {
    z-index: 2;
    position: absolute;
    left: 20px;
    bottom: 10px;
}
.wmuSliderPagination li {
    float: left;
    margin: 0 5px 0 0;
    list-style-type: none;
}
.wmuSliderPagination a {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background: url(/images/sprites.png) no-repeat 0 -80px;
}
.wmuSliderPagination a.wmuActive {
    background-position: -10px -80px;
}

.information {

  background-color: #848484;
}