
.search-section  {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	color: #666;
	font-size: 14px;
	line-height: 1.6;
	text-align: left;
	margin-top: 20px;
	background-color: #EDEFF2 ;
	top: 0px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}



.search-area {
     
     height: 60px; 
	 border-style: solid ;
	 border-width: 1px;
	 background: url('/images/contact-bg.png') no-repeat  top ;
	 margin-left: 20px;
	 margin: 10px;
			
}

.firstsection {
    border-bottom-style: solid ;
	border-bottom-width: 2px;
/*	background-color: #EDEFF2 ;*/
    background-color: #FAFAFA ;
	border-bottom-color: #D8D8D8;
	/*-webkit-box-shadow:2px 2px 0px 0px #424242; -moz-box-shadow:2px 2px 0px 0px #424242; box-shadow:2px 2px 0px 0px #424242;*/
	/*margin: 10px;*/

}

.Search-bar {
    margin: 10px;
}

.second-area {
/* height: 500px; */
 /*background-color: #E6E6E6 ;*/
 background-color: #EDEFF2 ;
}

.sugestion-area {
  /*  border-right-style: solid ;
	border-right-width: 1px;
	border-right-color: #000;*/
	height: 500px; 
	
}

.result-area {

	/*height: 500px;*/ 
}


.result {
    margin: 10px;
/*	height: 100px; */
	background-color: #FAFAFA;
	-webkit-box-shadow:2px 2px 0px 0px #848484; -moz-box-shadow:2px 2px 0px 0px #848484; box-shadow:2px 2px 0px 0px #848484;
	border-style: solid ;
	border-width: 1px;
	border-color: #BDBDBD;
    background-color: #FAFAFA ;

}

.sugestion-panel 
{   border-style: solid ;
	border-width: 1px;
	border-color: #BDBDBD;
    background-color: #FAFAFA ;
    margin: 10px;	
	min-height: 400px;
	-webkit-box-shadow:2px 2px 0px 0px #848484; -moz-box-shadow:2px 2px 0px 0px #848484; box-shadow:2px 2px 0px 0px #848484;

}

.title-seach {
   margin-left: 10px;
   font-size: 16px;
	
}


.result-suggestion {
  margin: 5px;
  color: #2E64FE;
}

/*
.first-search {
  background-color: #E6E6E6 ;
}*/
 .Title-result {
 color: #2E64FE;
 font-size: 17px;
 
}

ul#Sugerencias  li{
padding-bottom: 2ex;
list-style-type: disc;
}

#Title-suggestion {
 margin-left: 10px;
 font-size: 17px;
}

.opciones-area {
 clear: both;
 text-align:center;
 /*color:white;*/
 width:100%;
 border-style: solid ;
 border-width: 1px;
 border-color: #BDBDBD;
}

.opt-fuente {
  color: blue;
}

.opt-elda{
  color: red;

}
.opt-grafo{
  color: green;

}


.opt-eldadiv {
    border-right-style: solid ;
	border-right-width: 1px;
	border-right-color: #BDBDBD;
	border-left-style: solid ;
	border-left-width: 1px;
	border-left-color: #BDBDBD;

}

.fuente-area {
    border-right-style: solid ;
	border-right-width: 1px;
	border-right-color: #BDBDBD;
	border-left-style: solid ;
	border-left-width: 1px;
	border-left-color: #BDBDBD;
	background-color: #848484;
	color: white;
    margin-top: 5px;

}

.oculto {
 display: none;
}

.nresult {
 margin-top: 5px;
 font-size: 16px;	
}

.pagination {
	 padding-top: 2px;
     padding-bottom: 5px;
}


.qricon {
/*left: 40%;
position: relative; */
right: 50%;
position: relative;

}

#qrarea1 {
width:100px; 
height:100px; 
/*margin-top:15px;*/

margin: auto;
margin-top: 10px;
margin-bottom: 15px;
}

#qrarea2 {
width:100px; 
height:100px; 
/*margin-top:15px;*/

margin: auto;
margin-top: 10px;
margin-bottom: 15px;
}


.navqr > li > a {
    position: relative;
    display: block;
    padding: 5px 15px;
}

#dwnload
{
    cursor: pointer;
    left: 42%;
    position: relative;
}


.dwnoptions {
    margin-bottom: 50px;
    margin-top: 10px;

}

.dwnoptions #format {
	margin-left:10px;
}


/*
.qricon {
left: 40%;
position: relative;
background-image: url('/images/qr.png');
width: 15px;
height: 15px;
background-size: contain;
background-repeat: no-repeat;
border: none;
border-radius: 5px;
}*/